
body{
  background-color: white;
}
.dashboard-header {
  position: relative;
  background-color: #0747a6;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.admin-title {
  font-size: 2.5rem; 
  font-weight: bold;
  margin: 0;
}

.logged-in-text {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 0.9rem; 
  font-weight: normal;
  opacity: 0.9;
}



.dashboard-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  padding: 0 2vw;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #263961;
  color: white;
  height: 30vh;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(39, 48, 226, 0.3);
}
