

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #042256;
}

.login-container {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  color: #333;
  font-size: 24px;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-container button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #1565c0;
}

.login-container p {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.signup-link {
  color: #333;
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
